<% if @user == current_user %>
  <h3>My profile</h3>
<% else %>
  <h3>User <%= @user.first_name %></h3>
<% end %>

<% unless @user.user? %>
  <p><i><%= @user.role %></i></p>
<% end %>
<p><strong>First name:</strong> <%= @user.first_name %></p>
<p><strong>Last name:</strong> <%= @user.last_name %></p>
<p><strong>E-mail:</strong> <%= mail_to @user.email %></p>
