<% if @user == current_user %>
  <h3>My profile</h3>
<% else %>
  <h3>User <%= @user.first_name %></h3>
<% end %>

<% unless @user.care_recipient? %>
  <p><i><%= @user.role %></i></p>
<% end %>

<% if @user.care_recipient? && !current_user.care_recipient? %>
  <p>
    <strong>Caregiver:</strong>
    <% if @user.caregiver_id.blank? %>
      <i>none</i>
    <% else %>
      <%= link_to @user.caregiver.first_name, @user.caregiver %>
    <% end %>
  </p>
<% end %>

<p><strong>First name:</strong> <%= @user.first_name %></p>
<p><strong>Last name:</strong> <%= @user.last_name %></p>
<p><strong>Address:</strong> <%= @user.address %></p>
<p><strong>E-mail:</strong> <%= mail_to @user.email %></p>
<%= link_to "Edit profile", edit_user_registration_path if @user == current_user %>

<% if @user.caregiver? %>
  <h4>My care-recipients</h4>
  <ul>
    <% @user.care_recipients.each do |person| %>
    <li>
      <%= link_to person.first_name, person %>
      <% unless person.caregiver.nil? %>
        <%= form_for person do |t| %>
          <%= t.hidden_field :caregiver_id, value: nil %>
          <%= t.submit "Remove" %>
        <% end %>
      <% end %>
    </li>
    <% end %>
  </ul>
  <%= link_to "Add more", users_path %>
<% end %>

<% if @user.care_recipient? && current_user == @user %>
  
  <h4>Porposed activities</h4>
  <ul>
    <% @user.authored_activities.each do |activity| %>
      <li><%= link_to activity.title, activity %></li>
    <% end %>
    <% if @user.authored_activities.blank? %>
      <li><i>none</i></li>
    <% end %>
  </ul>
  <%= link_to "Propose Activity", new_activity_path %>

  <h4>Joint activities</h4>
  <ul>
    <% @user.joint_activities.each do |activity| %>
      <li><%= link_to activity.title, activity %></li>
    <% end %>
    <% if @user.joint_activities.blank? %>
      <li><i>none</i></li>
    <% end %>
  </ul>
  <%= link_to "Find Activity", activities_path %>
<% end %>

<% if current_user == @user.caregiver %>
  <h3>User statistics</h3>

  <h4>Activities proposed by <%= @user.first_name %></h4>
  <ul>
    <% @user.authored_activities.each do |activity| %>
      <li><%= link_to activity.title, activity %></li>
    <% end %>
    <% if @user.authored_activities.blank? %>
      <li><i>none</i></li>
    <% end %>
  </ul>

    <h4>Activities <%= @user.first_name %> joined</h4>
  <ul>
    <% @user.joint_activities.each do |activity| %>
      <li><%= link_to activity.title, activity %></li>
    <% end %>
    <% if @user.joint_activities.blank? %>
      <li><i>none</i></li>
    <% end %>
  </ul>

  <pre><strong>Future work:</strong> More sophisticated statistics on the user's activity will go here.</pre>
<% end %>
