<h1>Listing Activities</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Author</th>
      <th>When</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= link_to activity.title, activity %></td>
        <td><%= activity.description %></td>
        <td><%= link_to activity.author.first_name, activity.author %></td>
        <td><%= activity.when %></td>
        <td>
          <% if current_user == activity.author %>
            <%= link_to "Destroy", activity, method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Propose Activity", new_activity_path %>
