<p id="notice"><%= notice %></p>

<h3><%= @activity.title %></h3>

<p>
  <strong>Proposed by:</strong>
  <%= link_to @activity.author.first_name, @activity.author %>
</p>

<p>
  <strong>Proposed time:</strong>
  <%= @activity.proposed_time.to_formatted_s(:long_ordinal) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<%= link_to "Edit", edit_activity_path(@activity) if @isAuthor %>
<%= link_to "Back", activities_path %>

<h4>Participants:</h4>
<p>
  <ul>
    <% @activity.participants.each do |participant| %>
      <li><%= link_to participant.first_name, participant %></li>
    <% end %>
  </ul>
</p>

<% if @isParticipant %>
  <%= button_to "Cancel participation",
                  { controller: :participations,
                    action: :destroy,
                    activity_id: @activity.id },
                  method: :delete %>
<% else %>
  <%= button_to "Join activity!",
                  controller: :participations,
                  action: :create,
                  activity_id: @activity.id %>
<% end %>

<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <p>
      <strong><%= link_to comment.commenter.first_name, comment.commenter %>:</strong>
      <%= comment.created_at.to_formatted_s(:long_ordinal) %>
      <br>
      <%= comment.body %>
    </p>
  </div>
<% end %>
<%= render "comments/form" %>

<%- disqus_thread %>
