<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>When:</strong>
  <%= @activity.when %>
</p>

<p>
  <strong>Author:</strong>
  <%= @activity.author.first_name %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) if @isAuthor %>
<%= link_to 'Back', activities_path %>

<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <p>
    <strong><%= comment.commenter.first_name %>:</strong>
    <%= comment.created_at.to_formatted_s(:long_ordinal) %>
    <br>
    <%= comment.body %>
    </p>
  </div>
<% end %>
<%= render 'comments/form' %>

<%- disqus_thread %>
